<div>
    <div class="row">
        <div class="col-md-2">
            <utk-browse-button btn-text="{{btn.text}}" btn-accept="{{btn.accept}}" btn-multiple="{{btn.multiple}}" btn-type="{{btn.type}}" btn-icon="{{btn.icon}}" btn-size="{{btn.size}}" btn-disabled="{{btn.disabled}}" btn-selected="selected(filename, number)"></utk-browse-button>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Text:</td>
                        <td><input type="text" ng-model="btn.text"/></td>
                    </tr>
                    <tr>
                        <td>Enable:</td>
                        <td><utk-checkbox chk-text="Disable" ng-model="btn.disabled"></utk-checkbox></td>
                    </tr>
                    <tr>
                        <td>Multiple:</td>
                        <td><utk-checkbox chk-text="Multiple" ng-model="btn.multiple"></utk-checkbox></td>
                    </tr>
                    <tr>
                        <td>Accept:</td>
                        <td><input type="text" ng-model="btn.accept"/></td>
                    </tr>
                    <tr>
                        <td>Style:</td>
                        <td><utk-dropdown dp-items="types" ng-model="btn.type" dp-width="160px"></utk-dropdown></td>
                    </tr>
                    <tr>
                        <td>Icon: 
                            <utk-tooltip tip-text="Check bootstrap glyphicon">
                                <a><em>(more icons?)</em></a>
                            </utk-tooltip>
                        </td>
                        <td><utk-dropdown dp-items="icons" ng-model="btn.icon" dp-width="160px"></utk-dropdown></td>
                    </tr>
                    <tr>
                        <td>Size:</td>
                        <td>
                            <utk-radiogroup ng-model="btn.size">
                                <utk-radiobutton rb-text="large" rb-value="large"></utk-radiobutton>
                                <utk-radiobutton rb-text="normal" rb-value="normal"></utk-radiobutton>
                                <utk-radiobutton rb-text="small" rb-value="small"></utk-radiobutton>
                                <utk-radiobutton rb-text="xsmall" rb-value="xsmall"></utk-radiobutton>
                            </utk-radiogroup>
                        </td>
                    </tr>
                    <tr>
                        <td>Selected:</td>
                        <td>{{choosed}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3>Syntax:</h3>
    <utk-code cd-lang="markup" class="selectable">&lt;div utk-browse-button
    btn-text="{{btn.text}}"
    btn-accept="{{btn.accept}}"
    btn-multiple="{{btn.multiple}}"
    btn-type="{{btn.type}}"
    btn-icon="{{btn.icon}}"
    btn-size="{{btn.size}}"
    btn-disabled="{{btn.disabled}}"
    btn-selected="selected(filename, number)"&gt;
&lt;/div&gt;</utk-code>
</div>
